APP_TIMEZONE=Asia/Kolkata
MAIL_HOST=smtp.ionos.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=hello@technestwebsolution.com
MAIL_PASSWORD=replace-with-your-smtp-password
MAIL_FROM_ADDRESS=hello@technestwebsolution.com
MAIL_FROM_NAME=TechNest Web Solution
MAIL_TO_ADDRESS=hello@technestwebsolution.com
MAIL_SMTP_DEBUG=false
